@model List<Product>
<div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="row text-center">
                    <h2 class="text-white py-2"> Product List </h2>
                </div>
            </div>
        </div>
    
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a  asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle-fill"></i> Create New Product
                </a>
            </div>
        </>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                     Name
                </th>
                <th>
                    Description
                </th>
                <th>ListPrice</th>
                    <th>Price</th>
                    <th>price50</th>
                    <th>ImageUrl</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Size</th>
                    <th>Color</th>
            </tr>
        </thead>

        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td colspan="3" class="text-center">No categories found.</td>
                </tr>
            }
            else
            {
                    @foreach (var obj in Model.OrderBy(u => u.Description))
                {
                    <tr>
                        <td>@obj.Name</td>
                            <td>@obj.Description</td>
                            <td>@obj.ListPrice</td>
                            <td>@obj.Price</td>
                            <td>@obj.Price50</td>
                            <td>@obj.ImageUrl</td>
                            <td>@obj.Category</td>
                            <td>@obj.Stock</td>
                            <td>@obj.Size</td>
                            <td>@obj.Color</td>
                            <td>@obj.</td>
                                <td >
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.ProductId" class="btn btn-primary mx-2">
                                            <i class="bi bi-pencil-fill"></i> Edit
                                        </a>
                                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ProductId" class="btn btn-danger mx-2">
                                            <i class="bi bi-trash-fill"></i>Delete
                                        </a>
                                    </div>
                                </td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
</div>
</div>
